In [6]:
import pandas as pd
from urllib.request import urlopen
from json import loads

In [21]:
# overview df
url = "https://educationdata.urban.org/api/v1/schools/ccd/directory/2021/"
response = urlopen(url)
data = loads(response.read())

In [23]:
schools_list = data['results']

overview_df = pd.DataFrame(schools_list)

In [24]:
overview_df.columns

Index(['year', 'ncessch', 'school_id', 'school_name', 'leaid', 'lea_name',
       'state_leaid', 'seasch', 'street_mailing', 'city_mailing',
       'state_mailing', 'zip_mailing', 'street_location', 'city_location',
       'state_location', 'zip_location', 'phone', 'fips', 'latitude',
       'longitude', 'csa', 'cbsa', 'urban_centric_locale', 'county_code',
       'school_level', 'school_type', 'school_status', 'lowest_grade_offered',
       'highest_grade_offered', 'bureau_indian_education', 'title_i_status',
       'title_i_eligible', 'title_i_schoolwide', 'charter', 'magnet',
       'shared_time', 'virtual', 'teachers_fte', 'free_lunch',
       'reduced_price_lunch', 'free_or_reduced_price_lunch', 'elem_cedp',
       'high_cedp', 'middle_cedp', 'ungrade_cedp', 'enrollment',
       'state_leg_district_lower', 'state_leg_district_upper', 'ncessch_num',
       'congress_district_id', 'direct_certification', 'lunch_program'],
      dtype='object')

In [25]:
overview_df['year'].unique()

array([2021], dtype=int64)

In [26]:
# map for schools and colleges 
# need year, longitude, latitude
map_df = overview_df[['year', 'longitude', 'latitude']]

      year   longitude   latitude
0     2021  -86.206200  34.260200
1     2021  -86.204900  34.262200
2     2021  -86.220100  34.273300
3     2021  -86.221806  34.252700
4     2021  -86.193300  34.289800
...    ...         ...        ...
9995  2021 -117.878382  34.126126
9996  2021 -117.819340  34.125300
9997  2021 -117.869035  34.124755
9998  2021 -117.846815  34.132559
9999  2021 -120.717190  38.694087

[10000 rows x 3 columns]

overview_df

In [ ]:
# Step 3: Save as CSV

# data_df.to_csv('yelp_academic_dataset_business.csv', index=False)
cleaned.to_csv('cleaned_yelp_dataset_business.csv', index=False)

print("Conversion completed. CSV file saved successfully.")