In [1]:
import pandas as pd
from urllib.request import urlopen
from json import loads

In [16]:
# CCD Enrollment data (grade and sex)
from urllib.request import urlopen
from json import loads
url = "https://educationdata.urban.org/api/v1/schools/ccd/enrollment/2013/grade-99/race/"
response = urlopen(url)
data = loads(response.read())
schools_list = data['results']
grade_sex_df = pd.DataFrame(schools_list)

In [18]:
grade_sex_df['race'].unique()

array([ 4, 99,  3,  2,  6,  5,  1,  7], dtype=int64)

In [5]:
# CRDC Enrollment data (race and sex)
url = "https://educationdata.urban.org/api/v1/schools/crdc/enrollment/2013/race/sex/"
response = urlopen(url)
data = loads(response.read())
schools_list = data['results']
crdc_enrollment_df = pd.DataFrame(schools_list)

In [2]:
# overview df
url = "https://educationdata.urban.org/api/v1/schools/ccd/directory/2021/"
response = urlopen(url)
data = loads(response.read())
schools_list = data['results']
overview_df = pd.DataFrame(schools_list)

overview_df.columns

overview_df['year'].unique()

In [4]:
# map for schools and colleges 
# need year, longitude, latitude
map_df = overview_df[['longitude', 'latitude']]

In [5]:
# Step 3: Save as CSV

# data_df.to_csv('yelp_academic_dataset_business.csv', index=False)
map_df.to_csv('school_map.csv', index=False)

print("Conversion completed. CSV file saved successfully.")

Conversion completed. CSV file saved successfully.